<!DOCTYPE html>

<html>

<head>
    <title>Homepage</title>
    <link rel="icon" href="/img/bank.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main_content">
        
        <h1 id="homepagetitle">The Bank Of GSM</h1>
        {{>header}}
    
        <br>
        <div id="homepage_button">
            <a href="/view_customer">
                <button>View all Customers</button>
            </a>
            <br><br>
            <a href="/history">
                <button>Transfer History</button>
            </a>
        </div>
        
    </div>
    {{>footer}}
</body>

</html>